<div *ngIf="!hasSetNickName">
  <div class="nickNameBox">
    <div class="contentBox">
      <p>Aiii聊天群組，絕對匿名聊天</p>
      <!-- <div>
        <input matInput [(ngModel)]="selfNickName" placeholder="NickName">
      </div>-->
      <div>
        <input matInput [(ngModel)]="selfNickName" placeholder="NickName">
        <input matInput [(ngModel)]="roomId" placeholder="房間代號-非必填">
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="setNickName()">確認</button>
  </div>
</div>
<div *ngIf="hasSetNickName">
  <div class="title">
    {{roomId || publicGroup}} - 暱稱：{{selfNickName}} - {{socketId}}
    <div class="callingBtn" *ngIf="roomId  && isConnect">
      <div *ngIf="!onCall">
        <button mat-raised-button color="primary" (click)="privateCall()">通話</button>
      </div>
      <div *ngIf="onCall">
        <button (click)="showRemote()">顯示對方</button>
        <button mat-raised-button color="primary" (click)="startLive(true)">鏡頭開</button>
        <button mat-raised-button color="primary" (click)="startLive(false)">鏡頭關</button>
      </div>
    </div>
  </div>
  <div class="webBox">
    <div class="memberBox" *ngIf="!roomId">
      <div class="selfItem">{{self.nickName}}</div>
      <div *ngFor="let m of members">
        <div class="mGroup" *ngIf="socketId !== m.socketId">
          <div>{{m.nickName}}</div>
          <div>
            <button mat-raised-button color="primary" (click)="privateMsg(m.socketId)">私訊</button>
          </div>
        </div>

      </div>
    </div>
    <div class="privateChatBox" *ngIf="roomId">
      <div class="self">
        <p>自己</p>
        <video id="selfVideo" playsinline></video>
      </div>
      <div class="remote">
        <p>對方 {{remoteIsOpenVideo?'':'對方未開啟視訊鏡頭'}}</p>
        <video src="" id="remoteVideo" playsinline></video>
      </div>
    </div>
    <div class="chatBox">

      <div class="messageGroup">
        <div>
          <div *ngFor="let m of messages">
            <div [ngClass]="m.socketId !== socketId?'remoteMessage':'selfMessage'">
              <div *ngIf="m.socketId !== socketId">
                <p style="margin-right:5px">
                  {{m.nickName}}:
                </p>
              </div>
              <div class="messageBox">
                <p>
                  {{m.message}}
                </p>
              </div>

            </div>
          </div>
          <div *ngFor="let m of privateMessage[roomId]">
            <div [ngClass]="m.socketId !== socketId?'remoteMessage':'selfMessage'">
              <div *ngIf="m.socketId !== socketId">
                <p style="margin-right:5px">
                  {{m.nickName}}:
                </p>
              </div>
              <div class="messageBox">
                <p>
                  {{m.message}}
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="inputBox">
        <input type="text" matInput [(ngModel)]="message" (keyup.enter)="sendMessage()">
        <button mat-raised-button color="primary" (click)="sendMessage()">送出</button>
      </div>
    </div>
  </div>
</div>
